/* The code is based on  "Adam Lapinski's" walk-through project "Moments"!
https://github.com/Code-Institute-Solutions/moments */

.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }