.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.recipe_title {
  font-family: 'Emilys Candy', cursive;
  font-size: xx-large;
}

.recipe_title::after {
  content: url("../assets/images/logo/logo_star_bullet.webp");
  margin: 0.5ch;
}

.recipe_title::before {
  content: url("../assets/images/logo/logo_star_bullet.webp");
  margin: 0.5ch;
}

.cursive_explanation {
  font-style: italic;
}

.summary_title {
  letter-spacing: 0.5ch;
}

.cooking_instructions {
  font-style: italic;
}

.ingredients_list {
  /* list-style-position: inside; */
  list-style: square inside url("../assets/images/logo/logo_star_bullet.webp");
}