/* The code is based on  "Adam Lapinski's" walk-through project "Moments"!
https://github.com/Code-Institute-Solutions/moments */

:root {
    --background-color-app: #F5F5F5;
    --background-color-content: #A5A150;
    --hover-color-icons: #796F85;
    --hover-color-buttons: #50C9CE;
    --text-color: #000;
}


.App {
    font-family: "DM Sans", sans-serif;
    background-color: var(--background-color-app);
    min-height: 100vh;
}

.Main {
    padding-top: 150px;
    padding-bottom: 100px;
}

h1,
h2 {
    font-family: 'Emilys Candy', cursive;
}

.Content {
    background-color: var(--background-color-content);
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--text-color);
    transition: color ease-in-out 0.3s;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

a:hover i {
    color: var(--hover-color-icons);
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}

i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: var(--hover-color-buttons);
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text_center {
    display: block;
    text-align: center;
}

.text_cursive {
    font-style: italic;
}